@import "reset.css";

.hide {
  display: none;
}

img {
  height: 100px;
  width: 100px;
  margin-right: 100px;
}

.draggable {
  position: absolute;
  cursor: pointer;
}

.drop-effect {
  background: green;
}

.wrong {
  left: 200px;
}

.right {
  left: 400px;
}
@font-face {
  font-family: "PWApril";
  src: url("../fonts/PWApril.ttf");
}

@font-face {
  font-family: "SuperKid";
  src: url("../fonts/SuperKid.ttf");
}

body {
  font-family: "SuperKid";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PWApril";
  font-size: 200%;
}
