@import "reset.css";

@font-face {
  font-family: "PWApril";
  src: url("../fonts/PWApril.ttf") format("truetype");
}

@font-face {
  font-family: "SuperKid";
  src: url("../fonts/SuperKid.ttf") format("truetype");
}

body,
button {
  font-family: "SuperKid", "Brush Script MT", cursive;
}

body {
  background-color: #c68b59;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PWApril", "Brush Script MT", cursive;
  font-size: 200%;
}

#main-menu,
#story-end {
  display: grid;
  grid-template-rows: repeat(10, 71.2px);
  grid-template-columns: repeat(10, 80px);
  justify-items: center;
  background: url(../images/styling/parchment.png);
  width: 800px;
  height: 712px;
  margin: 0 auto;
}

#title {
  grid-row: 2 / 3;
  grid-column: 1 / 11;
  font-size: 65px;
  color: white;
  margin-top: 40px;
}

#description,
#story-end-text {
  grid-row: 4 / 5;
  grid-column: 2 / 10;
  align-self: center;
  text-align: center;
  font-size: 30px;
  color: #402218;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.541);
  margin-left: 20px;
  margin-right: 20px;
}

.home-button,
.back-home-button {
  grid-column: 4 / 8;
  font-size: 25px;
  color: #402218;
  cursor: pointer;
  background-color: white;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px #00000054;
}

#start-game-button,
.back-home-button {
  grid-row: 6 / 7;
}

/* #how-to-play-button {
  grid-row: 7 / 8;
} */

#chaptersIndex-button {
  grid-row: 7 / 8;
}

section {
  background: url(../images/styling/parchment.png);
  background-size: 100% 100%;
  width: 1000px;
  height: 712px;
  margin: 0 auto;
  padding: 50px 120px;
}

#container {
  display: grid;
  grid-template-rows: repeat(10, 71.2px);
  grid-template-columns: repeat(10, 100px);
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 712px;
}

.home {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  margin-top: 30px;
  margin-left: 40px;
  filter: brightness(0) invert(1) drop-shadow(0 0 0.75rem #402218);
  cursor: pointer;
}

.chapter-title {
  grid-row: 1 / 2;
  grid-column: 1 / 11;
  font-size: 65px;
  color: #402218;
  margin-top: 40px;
}

.chapter-story,
.chapter-question {
  grid-column: 2 / 10;
  font-size: 25px;
  color: #402218;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
  margin-left: 20px;
  margin-right: 20px;
}

.chapter-story {
  grid-row: 3 / 5;
  margin-top: 40px;
}

.chapter-question {
  grid-row: 3 / 5;
}

img {
  height: 90px;
  width: 90px;
}

.drop-container {
  grid-row: 8 / 9;
  grid-column: 2 / 3;
}

.drop-container img {
  opacity: 0;
}

.wrong,
.right,
.drop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  box-shadow: 2px 2px #40221849;
}

.wrong,
.right {
  cursor: pointer;
}

.drag-item-1 {
  grid-row: 6/ 7;
  grid-column: 5 / 6;
}

.drag-item-2 {
  grid-row: 4 / 5;
  grid-column: 7 / 8;
  margin-top: 40px;
}

.drag-item-3 {
  grid-row: 7 / 8;
  grid-column: 7 / 8;
  margin-top: 40px;
}

.drag-item-4 {
  grid-row: 6 / 7;
  grid-column: 9 / 10;
}

.next-container {
  position: relative;
  grid-row: 9 / 10;
  grid-column: 9 / 10;
}

.next-container:hover {
  animation: backandforth 1s ease-in-out 0s;
}

@keyframes backandforth {
  0% {
    left: 0;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 0;
  }
}

.container-text {
  color: #402218;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 14px;
  font-size: 18px;
}

.next {
  width: 120px;
  height: 80px;
  cursor: pointer;
  filter: brightness(0) invert(1) drop-shadow(0 0 0.75rem #402218);
}

.hide {
  display: none;
}

.absolute {
  position: absolute;
  margin: 0;
}

.drop-effect {
  background: rgba(58, 226, 36, 0.2);
}

/* CHAPTERS INDEX  */

#chapter-index {
  padding: 40px 0;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#chapter-index h1 {
  font-size: 40px;
  color: white;
  text-align: center;
}

#chapter-index #home-button {
  font-size: 18px;
  border-radius: 10px;
  border: 3px rgb(184, 156, 104) solid;
  margin: 2rem 0;
}

#chapters-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 75%;
}

#chapters-container .chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 200px;
  min-width: 200px;
  border: 4px white solid;
  border-radius: 10px;
  background-color: rgb(228, 199, 146);
  text-align: center;
}

#chapters-container {
  font-size: 20px;
}

#chapters-container button {
  font-size: 18px;
  background-color: rgb(133, 190, 87);
  margin: 15px 0;
  border-radius: 5px;
  color: white;
}

#chapters-container .disabled-button {
  background-color: rgb(69, 95, 47);
}

.smooth-drop {
  transition: left 350ms cubic-bezier(0.49, 0.02, 0.46, 1.74),
    top 350ms cubic-bezier(0.49, 0.02, 0.46, 1.74);
}

.message-container {
  position: absolute;
  top: 250px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #c68b59;
  border: 1px solid #f4d9a8;
  border-radius: 5px;
  width: 400px;
  padding: 80px;
  box-shadow: 0 5px 15px #f2e2c8;
  font-size: 20px;
}

.message-container button {
  cursor: pointer;
  margin-top: 40px;
  font-size: 20px;
  background-color: #c68b59;
  border: none;
  border-bottom: 3px solid #402218;
  padding-bottom: 8px;
}

.message-container button::after {
  content: "";
  position: absolute;
  border-right: 3px solid #402218;
  border-top: 3px solid #402218;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  margin-top: 31.5px;
}

.message-container button:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
